#root {
  
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: black;
}

#text {
  text-align: center;
}

#block {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 30px;
}