@import "tailwindcss";

/*#main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  color: black;
}*/

#block {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 80vh;
  height: 80vh;
  width: 70vh;
  border-radius: 30px;
}

#text {
  text-align: center;
}